/* @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Volkhov:700&display=swap");

body {
  font-family: "Lato";
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 920px) {
  .app {
    flex-direction: column-reverse;
  }
} */

html,
body,
#root {
  height: 100%;
}

.container {
  position: relative;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/*
.page {
  position: absolute;
  top: 100px;
  left: 0;
  right:0;
}
*/
/* simple - enter transition 300ms, exit 150ms 
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 200ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 200ms linear;
}
*/